extends layout

block content
  include header
  .container#posts
    center
      h1.text-center.page-title
        a(href=categoryUrl(category)) #{category}
    - each post in posts
      include ../partials/post
