footer
  .container.text-center
    .row
      blockquote
        p We don’t get a chance to do that many things, and every one should be really excellent. Because this is our life. Life is brief, and then you die, you know? And we’ve all chosen to do this with our lives. So it better be damn good. It better be worth it.
        footer Steve Jobs
    .row 
      p.pull-left © 2014 Sumedha Pramod All Rights Reserved
      ul.pull-right.list-inline
        li
          a(href='https://github.com/pramodsum/SumNinjaCode/issues') #Issues