header.intro#page-top
  .intro-body
    .col-md-8.col-md-offset-2
      img.profile.img-circle.img-responsive(src='img/profile.jpeg', alt='')
      h1.brand-heading Just Sum Ninja Code
      p.intro-text
        ul.list-inline
          li
            a.btn-circle.btn-social(href='https://twitter.com/pramodsum')
              i.ion-social-twitter.animated
          li
            a.btn-circle.btn-social(href='https://linkedin.com/in/pramodsum')
              i.ion-social-linkedin.animated
          li
            a.btn-circle.btn-social(href='https://github.com/pramodsum')
              i.ion-social-github.animated
          li
            a.btn-circle.btn-social(href='https://facebook.com/sumedha.pramod')
              i.ion-social-facebook.animated

      .scroll
        a.btn.btn-circle.page-scroll(href='#posts')
          i.ion-chevron-down.animated(style="margin-left: -1px")

include partials/flash