.navbar.navbar-default.navbar-fixed-top
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
      i.fa.fa-bars
    a.navbar-brand.page-scroll(href='./')
      i.ion-pound
      span.light SumNinjaCode
  // Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-right.navbar-main-collapse
    ul.nav.navbar-nav
      // Hidden li included to remove active class from about link when scrolled up past about section
      li.hidden
        a(href='./')
      li
        a.page-scroll(href='/projects') Projects
      //- li
      //-   a.page-scroll(href='/tech') Tech
      li
        a.page-scroll(href='/drawings') Art
      //- li
      //-   a.page-scroll(href='/travels') Travels
      li
        a.page-scroll(href='/quotes') Quotes
      //- li
      //-   a.page-scroll(href='/contact') Contact
      li
        a.page-scroll(href='/about') About Me
