{{!< error-default}}

<div class="container">
  <div class="error-container">
    <center>
      <h1>{ <a href="#">404 - Page Not Found</a> }</h1>
      <p class="error-text">We're sorry! The page you are looking for is currently still at large, but don't worry! We've got our best man on the case!</p>
    </center>
    <div>
        <img src="{{asset "images/404.png"}}">
    </div>
  </div>
</div>
<br>
