{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}
<div class="container">
    
  <center>
    <h1 class="text-center page-title">Quotes</h1>
    <ul class="list-inline">
      <li><a href="#tech"><i class="ion-pound"></i>technology</a></li>
      <li><a href="#comedy"><i class="ion-pound"></i>comedy</a></li>
      <li><a href="#literature"><i class="ion-pound"></i>literature</a></li>
      <li><a href="#film"<i class="ion-pound"></i>film</a></li>
      <li><a href="#inspirational"><i class="ion-pound"></i>inspirational</a></li>
      <li><a href="#seuss"><i class="ion-pound"></i>drseuss</a></li>
    </ul><br/>
  </center>
  <blockquote class="blockquote-reverse">
    <p>Here’s to the crazy ones, the misfits, the rebels, the troublemakers, the round pegs in the square holes… The ones who see things differently — they’re not fond of rules… You can quote them, disagree with them, glorify or vilify them, but the only thing you can’t do is ignore them because they change things… They push the human race forward, and while some may see them as the crazy ones, we see genius, because the ones who are crazy enough to think that they can change the world, are the ones who do.</p>
    <footer>Steve Jobs</footer>
  </blockquote>

  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="tech" class="text-center">#Technology</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>Be nice to nerds. Chances are you'll end up working for one.</p>
    <footer>Bill Gates</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Don't compare yourself with anyone in this world...if you do so, you are insulting yourself.</p>
    <footer>Bill Gates</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>One of the huge mistakes people make is that they try to force an interest on themselves. You don't choose your passions. You passions choose you.</p>
    <footer>Jeff Bezos</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Your time is limited, don’t waste it living someone else’s life. Don’t be trapped by dogma, which is living the result of other people’s thinking. Don’t let the noise of other opinions drown your own inner voice. And most important, have the courage to follow your heart and intuition, they somehow already know what you truly want to become. Everything else is secondary.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>We don’t get a chance to do that many things, and every one should be really excellent. Because this is our life. Life is brief, and then you die, you know? And we’ve all chosen to do this with our lives. So it better be damn good. It better be worth it.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Innovation distinguishes between a leader and a follower.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You can’t connect the dots looking forward; you can only connect them looking backward. So you have to trust that the dots will somehow connect in your future. You have to trust in something — your gut, destiny, life, karma, whatever. This approach has never let me down, and it has made all the difference in my life.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.</p>
    <footer>Steve Jobs</footer>
  </blockquote>
  
  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="comedy" class="text-center">#Comedy</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>Don’t waste your energy trying to educate or change opinions; go over, under, through, and opinions will change organically when you’re the boss. Or they won’t. Who cares? Do your thing, and don’t care if they like it.</p>
    <footer>Tina Fey</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You can't be the kid standing at the top of the water slide, overthinking it. You have to go down the chute</p>
    <footer>Tina Fey</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Now every girl is expected to have Caucasian blue eyes, full Spanish lips, a classic button nose, hairless Asian skin with a California tan, a Jamaican dance hall ass, long Swedish legs, small Japanese feet, the abs of a lesbian gym owner, the hips of a nine-year-old boy, the arms of Michelle Obama, and doll tits. The person closest to actually achieving this look is Kim Kardashian, who, as we know, was made by Russian scientists to sabotage our athletes.</p>
    <footer>Tina Fey</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Know what? Bitches get stuff done.</p>
    <footer>Tina Fey</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Confidence is 10% hard work and 90% delusion, just thinking foolishly that you will be able to do what you want to do</p>
    <footer>Tina Fey</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>There's power in looking silly and not caring that you do.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Nobody looks stupid when they are having fun.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You have to care about how good you are and how good you feel, but not about how good people think you are or how good people think you look.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>That is the motto women should constantly repeat over and over again. 'Good for her! Not for me.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>I believe great people do things before they are ready.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Shame makes people abandon their children and drink themselves to death. It also keeps us from true happiness. An apology is a glorious release.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Sleep helps you win at life.</p>
    <footer>Amy Poehler</footer>
  </blockquote>
  
  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="literature" class="text-center">#Literature</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>We don't read and write poetry because it's cute. We read and write poetry because we are members of the human race. And the human race is filled with passion. And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love, these are what we stay alive for. To quote from Whitman, "O me! O life!... of the questions of these recurring; of the endless trains of the faithless... of cities filled with the foolish; what good amid these, O me, O life?" Answer. That you are here - that life exists, and identity; that the powerful play goes on and you may contribute a verse. That the powerful play *goes on* and you may contribute a verse. What will your verse be?</p>
    <footer>N.H. Kleinbaum&nbsp;<em>Dead Poets Society</em></footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>When I saw you I fell in love and you smiled because you knew.</p>
    <footer>William Shakespeare</footer>
  </blockquote>
  
  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="film" class="text-center">#Film</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>Fear is the path to the dark side. Fear leads to anger, anger leads to hate, hate leads to suffering.</p>
    <footer>Yoda</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Train yourself to let go of everything you fear to lose.</p>
    <footer>Yoda</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Many of the truths that we cling to depend on our point of view.</p>
    <footer>Yoda</footer>
  </blockquote>
  
  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="inspirational" class="text-center">#Inspirational</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>All the religions of the world, while they may differ in other respects, unitedly proclaim that nothing lives in this world but Truth.</p>
    <footer>Mohandas Karamchand Gandhi</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
    <footer>Mohandas Karamchand Gandhi</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Be the change that you wish to see in the world.</p>
    <footer>Mohandas Karamchand Gandhi</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>If you judge people, you have no time to love them.</p>
    <footer>Mother Teresa</footer>
  </blockquote>
  
  {{!--  --}}
  {{!--  --}}
  <center>
    <h1 id="suess" class="text-center">#Dr. Seuss</h1>
  </center>
  {{!--  --}}
  {{!--  --}}

  <blockquote class="blockquote-reverse">
    <p>Unless someone like you cares a whole awful lot, nothing is going to get better. It’s not.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Why fit in when you were born to stand out?”</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You’ll miss the best things if you keep your eyes shut.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Sometimes the questions are complicated and the answers are simple.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Fantasy is a necessary ingredient in living, it’s a way of looking at life through the wrong end of a telescope.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>If things start happening, don’t worry, don’t stew, just go right along and you’ll start happening too..</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>You’re on your own. And you know what you know. And you are the one who’ll decide where to go.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Sometimes you will never know the value of a moment, until it becomes a memory.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>A person’s a person, no matter how small.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
  <blockquote class="blockquote-reverse">
    <p>Don't cry because it's over, smile because it happened.</p>
    <footer>Dr. Seuss</footer>
  </blockquote>
</div>