extends layout

block content
    include posts/header
    .container#posts
      center
        h1.page-title Sumedha Pramod
      section#resume
        center
          ul.list-inline
            li
              a(href="/projects") 
                i.ion-pound
                | projects
            li
              a(href="#experience")
                i.ion-pound
                | experience
            li
              a(href="#leadership")
                i.ion-pound
                | leadership
            li
              a(href="#courses")
                i.ion-pound
                | courses
        br
        #experience
          h1.text-center
            i.ion-pound
            | Experience
          p
            h2 Box
              .small <a href="https://developers.box.com/view-api/">View API</a> Software Engineering Intern
              .small Summer 2014 | Los Altos, CA
            p Refactored View API, which currently only supports PDF, Word, and PowerPoint files, to support various new document types using python and Django, and JavaScript. Added support for text files, code files with syntax highlighting and basic markdown processing
            //- .view-api
            //-   .col-sm-6 Text files!
            //-     iframe(src="#{txtfile}")
            //-   .col-sm-6 Code Files!
            //-     iframe(src="#{txtfile}")
          p
            h2 LinkedIn Hackathon
              .small July 2014 | 3rd Place Winning Webapp
            p Built a web application, <a href="www.skillfill.herokuapp.com">SkillFill</a>, using node.js, that analyzes a user’s skills in tangent with the current job market to provide the most valuable and profitable skills for the user to learn, which is then used to suggest online courses to gain those skills. 
          p
            h2 Workday, Inc.
              .small Associate Developer Generation Workday Beta Data Science Intern
              .small Summer 2013 | Pleasanton, CA
            p Designed and built a Ruby on Rails application that visualizes statistical data and job allocation. Simulated the production environment for running integration jobs including mimicking tenant allocation using data from the stats warehouse. 
          p
            h2 Navistar, Multidisciplinary Design Program
              .small Industry Sponsored Project Android Developer
              .small 2013 | University of Michigan, Ann Arbor
            p Developed an Android application using the Google Maps API’s that uses GPS input to optimize fuel efficiency and fuel economy and/or minimize de-rate mode in large diesel powertrains.
          p
            h2 MBA Social Venture Fund, Ross School of Business 
              .small Website Developer
              .small October 2012 – September 2013 | University of Michigan, Ann Arbor
            p Developed and maintained components for the <a href="www.umsocialventure.com">website </a>
        #leadership
          h1.text-center
            i.ion-pound
            | leadership
          p
            h2 Student Society for Stem Cell Research, 
              .small President
              .small 2010-2014 | University of Michigan Chapter
            p Hosted the first annual Michigan Stem Cell Summit in January 2013 bringing researchers from all over together for discussions on the progress of stem cell research, while providing students at the university the opportunity to interact and network with top researchers and advocates. Founded the umStem Research Program which gives students the resources and connections needed to successfully gain research positions within 13 associated labs

          p
            h2 That Brown Show Committee, Michigan Sahānā Classical Music
              .small Treasury Chair
              .small 2012 - 2014 | University of Michigan Ann Arbor
            p Secured full funding for the show and all expenses involved with receipt reimbursement
        #courses
          h1.text-center
            i.ion-pound
            | Courses
          ul
            li Intelligent Interactive Systems Independent Study
            li Database Management
            li Computer Game Design
            li Introduction to Computer Security
            li Mobile Development & Entrepreneurship
            li Intelligent Interactive System
            li Introduction to Java
            li Linear Algebra 
