extends layout

block content
  include posts/header
  .container#posts.links
    center
      h1.text-center.page-title Projects
      ul.list-inline
        li
          a(href="#games") #games
        //- li
        //-   a(href="#apps") #apps
        li
          a(href="#sites") #sites
      br
    center
      h1.text-center#games #Games
        ul.list-inline
          li
            a(href="http://www.pramod.ninja/DinoPrototype/") Save The Dino!
          li
            a(href="http://www.pramod.ninja/Legend-of-Zelda/") Legend of Zelda Clone 
          li
            a(href="http://www.pramod.ninja/Mission-Demolition") Mission Demolition
    //- center
    //-   h1.text-center#apps #Apps
    //-     ul.list-unstyled
    //-       li 
    //-         a AamMango
    //-         div description
    center
      h1.text-center#sites #Sites
        ul.list-inline
          li
            a(href="http://cookinginpjs.com") Cooking In PJs
          li
            a(href="http://dearuniverse.me") Dear Universe
          //- li
          //-   a(href="http://uppukhara.com") UppuKhara
