extends layout

block content
  include posts/header
  .container#posts.links
    center
      h1.text-center.page-title Projects
      ul.list-inline
        li
          a(href="#games") #games
        //li
          a(href="#apps") #apps
        li
          a(href="#sites") #sites
      br
    center
      h1.text-center#games #Games
        ul.list-inline
          li
            a(href="projects/Save-the-Dino") Save The Dino!
          li
            a(href="projects/Legend-of-Zelda") Legend of Zelda Clone 
          li
            a(href="projects/Mission-Demolition") Mission Demolition
    //center
      h1.text-center#apps #Apps
    center
      h1.text-center#sites #Sites
        ul.list-inline
          li
            a(href="cookinginpjs.com") Cooking In PJs
          li
            a(href="dearuniverse.me") Dear Universe
          //- li
          //-   a(href="uppukhara.com") Mission Demolition
