.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

ul.nav.navbar-nav {
  margin-right: 20px;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup, .mailchimp, .modal-content {
  color: black !important;
}

h2.mailchimp {
  margin: auto 0 !important;
}

input#mc-embedded-subscribe.button {
  background-color:rgb(94, 255, 212) !important; 
  margin: 0 !important;
}

input#mc-embedded-subscribe.button:hover,
input#mc-embedded-subscribe.button:focus {
  background-color:black; 
  color:rgb(94, 255, 212) !important;
  margin: 0 !important;
}

#mc_embed_signup div.mce_inline_error {
  background-color: #6B0505 !important;
  border-radius: 5px !important;
}