<div class="jumbotron jumbotron-about">
  <center>
	  <h1 class="about">About Me <span></span></h1>
  </center>
</div>

<div class="well">
	<div class="row">
	  <div class="col-md-6">
	  	<img src="/assets/prof.jpg" class="img-circle img-responsive">
		<address>
		  <strong>Sumedha Pramod</strong><br>
		    <p><a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>sumedha.pramod@gmail.com</a><br>
		    <a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>pramods@umich.com</a><br>
		    <a href="https://github.com/pramodsum"><i class="fa fa-github-square fa-3x" style="margin-right: 0.5em;"></i></a>
		    <a href="http://www.linkedin.com/pub/sumedha-pramod/35/430/620/"><i class="fa fa-linkedin-square fa-3x" style="margin-right: 0.5em;"></i></a>
		    <a href="https://twitter.com/pramodsum"><i class="fa fa-twitter-square fa-3x" style="margin-right: 0.5em;"></i></a>
		    <a href="https://facebook.com/sumedha.pramod"><i class="fa fa-facebook-square fa-3x" style="margin-right: 0.5em;"></i></a>
		    <a href="https://www.youtube.com/user/superspramod"><i class="fa fa-youtube-square fa-3x" style="margin-right: 0.5em;"></i></a>
		    <a href="http://instagram.com/pramodsum"><i class="fa fa-instagram fa-3x" style="margin-right: 0.5em;"></i></a></p>
		</address>
	  </div>
	  <div class="col-md-6">
	  	IMAGES
	  </div>
	</div>
</div>