<div class="jumbotron jumbotron-about">
  <center>
	  <h1 class="about">About Me <span></span></h1>
  </center>
</div>


<div class="row">
	<div class="col-lg-6">
	  <div class="well">
	  	<p><img src="/assets/prof.jpg" class="img-circle img-responsive"></p>
	    <center>
	    <a class="pink_links" href="https://github.com/pramodsum"><i class="fa fa-github-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="http://www.linkedin.com/pub/sumedha-pramod/35/430/620/"><i class="fa fa-linkedin-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a class="pink_links" href="https://twitter.com/pramodsum"><i class="fa fa-twitter-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="https://facebook.com/sumedha.pramod"><i class="fa fa-facebook-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a class="pink_links" href="https://www.youtube.com/user/superspramod"><i class="fa fa-youtube-square fa-3x" style="margin-right: 0.5em;"></i></a>
	    <a href="http://instagram.com/pramodsum"><i class="fa fa-instagram fa-3x" style="margin-right: 0.5em;"></i></a></p>
	    </center>

		<address>
		  <strong>Sumedha Pramod</strong><br>
		    <p><a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>sumedha.pramod@gmail.com</a><br>
		    <a href="mailto:#"><i class="fa fa-envelope fa-lg" style="margin-right: 0.5em;"></i>pramods@umich.com</a><br>
		</address>
		<iframe src="https://docs.google.com/viewer?srcid=0BxkVmNggS4lGdmJLckN6Z2Qwc2M&pid=explorer&efh=false&a=v&chrome=false&embedded=true" width="100%" height="480" frameborder="0"></iframe>

	  </div>
	</div>

	<div class="col-lg-6">
	  <div class="well">
		<div class="row no_space">
		  <div class="col-xs-3"><img src="/assets/berkley.jpg"></div>
		  <div class="col-xs-3"><img src="/assets/dublin.jpg" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/dublin2.jpg" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/goldengate.jpg" class="img-rounded img-responsive"></div>
		</div>
		<div class="row no_space">
		  <div class="col-xs-3"><img src="/assets/seattle.jpg"></div>
		  <div class="col-xs-3"><img src="/assets/sf.jpg" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/sc.jpg" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/fhills.jpg" class="img-rounded img-responsive"></div>
		</div>
		<div class="row no_space">
		  <div class="col-xs-3"><img src="/assets/dublin3.jpg"></div>
		  <div class="col-xs-3"><img src="/assets/greatwall.JPG" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/santacruz.jpg" class="img-rounded img-responsive"></div>
		  <div class="col-xs-3"><img src="/assets/sf2.jpg" class="img-rounded img-responsive"></div>
		</div>
	  </div>
	</div>
</div>