extends layout

block content
    include posts/header
    .container#posts
      center
        h1.page-title Sumedha Pramod
  //-     section#life-story
  //-       .row
  //-         .col-lg-12.text-center
  //-           h2.section-heading About
  //-           h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
  //-       .row
  //-         #progress(data-0='width:0%;background:hsl(200, 100%, 50%);', data-end='width:100%;background:hsl(920, 100%, 50%);')
  //-         #intro(data-0='opacity:1;top:3%;transform:rotate(0deg);transform-origin:0 0;', data-500='opacity:0;top:-10%;transform:rotate(-90deg);')
  //-           h1
  //-             a(href='https://github.com/Prinzhorn/skrollr') skrollr
  //-           h2 parallax scrolling for the masses
  //-           p let's get scrollin' ;-)
  //- script(type='text/javascript', src='http://prinzhorn.github.io/skrollr/dist/skrollr.min.js')
  //- script(type='text/javascript')
  //-   var s = skrollr.init({ edgeStrategy: 'set' });