extends layout

block content
  include posts/header
  .container#posts
    center
      h1.text-center.page-title Tweets
      ul.list-inline
        li
          a(href="#tech") #technology
        li
          a(href="#jobs") #stevejobs
        li
          a(href="#books") #books
        li
          a(href="#seuss") #drseuss

    div(ng-controller='TweetList')
      .row
        .col-lg-12
          h1
            img#twitter-logo(src='images/Twitter_logo_white.png')
            | <%= title %>
      #search-container.row
        .col-lg-3
          // this form will trigger the getTweets function in the javascript controller on submit
          form.input-group(ng-submit='getTweets()')
            span.input-group-addon @
            // this text input is binded to a variable in the javascript controller
            input.form-control(type='text', placeholder='TwitterDev', ng-model='username')
            span.input-group-btn
              button.btn.btn-default(type='submit') Get Tweets
      .row.clearfix
        .col-lg-12
          #tweet-list
            // this div will repeat for every tweet object in the array using a template-expanding directive
            .tweet-item(ng-repeat='tweet in tweetsResult')
              // sanitized HTML binding
              div(ng-bind-html='tweet.oEmbed.html')
              // binding to Tweet source property
              .tweet-details
                | Tweeted from
                span(ng-bind-html='tweet.source')
                // play around with rendering different Tweet properties
                // <p>{{tweet.user.screen_name}}</p>
                // <p>{{tweet.text}}</p>
      .row
        .col-lg-12
          // this button will trigger the getMoreTweets function in the javascript controller
          button.load-more-btn.btn.btn-default(type='button', ng-click='getMoreTweets()') Get More Tweets

