<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">New Post</h4>
  </div>
  <div class="modal-body">
  	<%= render 'form' %>
  </div>
</div><!-- /.modal-content -->
</br>

<%= button_to 'Back', posts_path, :class => 'btn btn-default' %>