<div class="panel panel-default">
  <div class="panel-heading">
	  <%= @post.title %>
  </div>
  <div class="panel-body">
  	<%= @post.text %>
  </div>
  <% @post.tags.any? %>
    <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
  <% end %>
</div>

<%= link_to 'Home', root_path, :class => "btn btn-default", :method => :get  %>