<header>
  <h1 class="brand-heading"><a href={{@blog.url}}>Just Sum Ninja Code</a></h1>

  {{!-- <center>
    <p><a id="about" href={{@blog.url}}/about><img src="{{asset "images/profile.jpg"}}"class="profile img-circle img-responsive"/></a></p>
    <p>My thoughts, travels, and creations.</p>
  </center> --}}

{{>"navbar"}}

{{!-- <script data-rocketsrc="{{asset "js/jquery.ghostHunter.min.js"}}" type="text/rocketscript"></script>
<div class="search-container">
  <form class="text-center form-inline" role="form">
    <div class="form-group">
      <center>
        <input class="form-control text-center" id="search-field" placeholder="Search Posts">
      </center>
    </div>
  </form>
  <script type="text/rocketscript">
      $("#search-field").ghostHunter({
          results         : "#results",
          onKeyUp         : true,
          onComplete      : function( results ){
              console.log( results );
          }
      });
  </script>
</div> --}}
