<header>
  <h1 class="brand-heading"><a href={{@blog.url}}>Just Sum Ninja Code</a></h1>

  {{!-- <center>
    <p><a id="about" href={{@blog.url}}/about><img src="{{asset "images/profile.jpg"}}"class="profile img-circle img-responsive"/></a></p>
    <p>My thoughts, travels, and creations.</p>
  </center> --}}

{{>"navbar"}}
