<p>
  <center><small>
    <a href="mailto:#"><i class="fa fa-envelope" style="margin-right: 0.5em;"></i>sumedha.pramod@gmail.com</a> | 
    <a href="https://twitter.com/pramodsum"><i class="fa fa-twitter-square" style="margin-right: 0.5em;"></i>@pramodsum</a> | 
    <a href="https://github.com/pramodsum"><i class="fa fa-github-square" style="margin-right: 0.5em;"></i>@pramodsum</a> | 
    <a data-toggle="modal" href="#myModal"><i class="fa fa-magic" style="margin-right: 0.5em;"></i>Super Secret Stuff</a>
  </small></center>
</p>

<!-- Modal -->
<div class="modal fade span2" id="myModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in to post</h4>
      </div>
      <div class="modal-body">
  	    <label for="exampleInputPassword1">Password</label>
  	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->