<blockquote>
  <p style="color: #fafafa; font-size:14px;">Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma -- which is living wiht the results of other people's thinking. Don't let the noise of other's opinions drown out your own inner voice. And most important, have hte courage to follow your heart and intuition. They somehow already know you truly want to become. Everything else is secondary</p>
  <small><cite title="Source Title">Steve Jobs</cite></small>
</blockquote>

<p>
  <center><small>
    <a href="mailto:#">sumedha.pramod@gmail.com</a> | 
    <a href="https://twitter.com/pramodsum">@pramodsum</a> | 
    <a data-toggle="modal" href="#myModal">Super Secret Stuff</a>
  </small></center>
</p>

<!-- Modal -->
<div class="modal fade span2" id="myModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign in to post</h4>
      </div>
      <div class="modal-body">
  	    <label for="exampleInputPassword1">Password</label>
  	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->