<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse">
	<ul class="nav navbar-nav">
	  <li>
	  		Tech News 
	  </li>
	  <li>
	  		Interview Questions 
	  </li>
	  <li>
	  		Algorithms 
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/welcome/about_me">About Me</a></li>
	</ul>
</div>

<%= render 'layouts/newpost_modal' %>