<%# add navigation links to this file %>
<a href="#" class="navbar-brand">Tech News</a>
<a href="#" class="navbar-brand">Interview Questions <span class="badge">1</span></a>
<a href="#" class="navbar-brand">Algorithms <span class="badge">1</span></a>
<%= link_to 'About', root_path, class: 'navbar-brand' %>
<%= link_to 'Resume', root_path, class: 'navbar-brand' %>