<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse">
	<ul class="nav navbar-nav ">
	  <li><a href="#">Tech News <span class="badge">0</span></a></li>
	  <li><a href="#">Interview Questions <span class="badge">0</span></a></li>
	  <li><a href="#">Algorithms <span class="badge">0</span></a></li>
	  <li><a href="#">Quotes</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><%= link_to 'About Me', root_path %></li>
	  <li><%= link_to 'Resume', root_path %></li>
	</ul>
</div>