<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse">
	<ul class="nav navbar-nav">
	  <li>
	  	<a href="/posts?tag=news">Tech News <span class="badge"><%= Post.tagged_with('news').count %></span></a>
	  </li>
	  <li>
	  	<a href="/posts?tag=interview">Interview Questions <span class="badge"><%= Post.tagged_with('interview').count %></span></a>
	  </li>
	  <li>
	  	<a href="/posts?tag=algorithm">Algorithms <span class="badge"><%= Post.tagged_with('algorithm').count %></span></a>
	  </li>
	  <li>
	  	<a href="/posts?tag=fun">Just For Fun <span class="badge"><%= Post.tagged_with('fun').count %></span></a>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/welcome/about_me">About Me</a></li>
	</ul>
</div>