<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="collapse">
	<ul class="nav navbar-nav">
	  <li>
	  	<%= link_to 'Tech News'.html_safe, posts_path(:tag => :news) %>
	  </li>
	  <li>
	  	<%= link_to 'Interview Questions'.html_safe, posts_path(:tag => :interview) %>
	  </li>
	  <li>
	  	<%= link_to 'Algorithms'.html_safe, posts_path(:tag => :algorithm) %>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/welcome/about_me">About Me</a></li>
	</ul>
</div>