<div class="panel panel-default">
  <div class="panel-heading">
	  <h4><%= @post.title %></h4>
  </div>
  <div class="panel-body">
	<p><small><%= time_ago_in_words(@post.created_at) %> ago</small></p>
	<p><%= @post.text.html_safe %></p>
	<p>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
  </div>
</div>