<div class="row home-page">
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
			</span>
	  		<h4>Tech News</h4>
	  </div>
	  <div class="panel-body">
	    Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. Most recent tech news article snippet. 
	  </div>
	</div>
  </div>
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
			</span>
	  		<h4>Interview Questions</h4>
	  </div>
	  <div class="panel-body">
	    Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. Most recent interview question post snippet. 
	  </div>
	</div>
  </div>
  <div class="col-md-4 top-hits">
  	<div class="panel panel-default">
	  <div class="panel-heading">
	  		<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
			</span>
	  		<h4>Algorithms</h4>
	  </div>
	  <div class="panel-body">
	    Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. Most recent algorithm post snippet. 
	  </div>
	</div>
  </div>
</div>